h1{
    margin: 50px 50px 50px 50px;
    color: aqua;
    font-size: 8rem;
}
h1 .text-hello{
    margin: 50px 50px 50px 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 20%;
}
h1 .bagian-satu p{
    margin: 50px 50px 50px 50px;
    color: aqua;
}
header .bagian-satu .text-hello {
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 600;
}
  
  header .bagian-satu p {
    font-size: 1.5rem;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #031321;
    font-family: "consolas";
}